secret_key=70hw&&3en4emtk-miqi6&koswmkcrnyxjd)j*qhl^9)@u9jn^$
debug=False
allowed_hosts=10.10.5.32,10.10.5.31,10.10.5.33,localhost,127.0.0.1,10.10.5.30,110.44.123.47,eklog-dev.ekbana.net

# db configuration
NAME='pms'
HOST='db'
PORT='15432'
USER='faraz'
PASSWORD='root'

config_path='config.json'

es_uri=https://10.10.5.77:21500
es_user=admin
es_pass=admin123
es_use_ssl=False
es_verify_certs=False

bootstrap_server='10.10.5.30:9092,10.10.5.31:9092,10.10.5.32:9092,10.10.5.33:9092'
ksql_api='http://10.10.5.30:8088'

# authenticate api
authenticate_url='http://10.10.5.25:8004/api/v1/authenticate'
authenticate_serial='8a5da52ed126447d359e70c05721a8aa'

# project_list api
project_list_url='http://10.10.5.25:8004/api/v1/list_projects'

# logout url
logout_url='http://10.10.5.25:8004/api/v1/logout'

# token validation
validate_token='http://10.10.5.25:8004/api/v1/validate_token?'

# mattermost users
mattermost_url='https://ekbana.letsperk.com/api/v4/users'
m_username='trainingbot@ekbana.com'
m_password='trainingbot'
