secret_key=70hw&&3en4emtk-miqi6&koswmkcrnyxjd)j*qhl^9)@u9jn^$
debug=False
allowed_hosts=10.10.5.25,10.10.5.31,10.10.5.32,10.10.5.33,10.10.5.29,localhost,127.0.0.1,api.pms.ekbana.net,110.44.123.96,110.44.123.47

# db configuration
NAME='pms'
HOST='postdb'
PORT='2222'
USER='faraz'
PASSWORD='root'

#config path for config.json
config_path='config.json'

ES_HOST=https://esm1.ekbana.net
ES_HOST_DEV=http://10.10.5.30:21500

ES_PROD_USER="admin"
ES_PROD_PASS="admin123"

CERT_PATH=
SESSION_COOKIE_NAME='pms'

MAX_CONNECTION_PER_USER=10
SESSION_TIMEOUT_INTERVAL=15

# api response messages and codes

CREDENTIALS_MSG="username or password incorrect"
CREDENTIALS_CODE=100

SYSTEM_ACCESS_DENIED_MSG="access denied to the system"
SYSTEM_ACCESS_DENIED_CODE=101

LOGOUT_ERROR_MSG="error logging out user"
LOGOUT_ERROR_CODE=102

COMPONENT_MISSING_MSG="component with provided id not found"
COMPONENT_MISSING_CODE=103

PROJECT_ERROR_MSG="error fetching projects"
PROJECT_ERROR_CODE=104

INDEX_ERROR_MSG="error fetching index"
INDEX_ERROR_CODE=105

REQUEST_ERROR_MSG="error in request. check id and token"
REQUEST_ERROR_CODE=106

LOGOUT_SUCCESS_MSG="logout successfull"
LOGOUT_SUCCESS_CODE=200

INACTIVE_USER_MSG="inactive user"
INACTIVE_USER_CODE=108

VALID_TOKEN_MSG="valid token"

INVALID_TOKEN_MSG="invalid token"
INVALID_TOKEN_CODE=109

CONNECTION_EXCEEDED_MSG="maximum connection for this user is reached."
CONNECTION_EXCEEDED_CODE=110

TOKEN_EXPIRED_MSG="token expired.please login again"
TOKEN_EXPIRED_CODE=111

SERVER_ERROR_MSG="request error"
SERVER_ERROR_CODE=500

OK_STATUS_CODE=200
LOG_DIR=/var/log/pms_api
LOG_FILENAME=api.log
